$textColorGeneral: #616161;
$primaryColor: #42a5f5;
$secundaryColor: #ffa726;
$hoverColor1: #ffd95b;
$backgroud_body: #eceff1;
$backgroud_product_grid: #FFFFFF;
$backgroud_cart: #FFFFFF;
$backgroud_navbarmenu: #9ccc65;
$backgroud_hover_item: #ffcc80;
$backgroud_active_item: #ffa726;
$colorTextMenu: #ffffff;
$colorRemoveButton: #ef5350;